
<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="name">Name</label>
                <input style="width: 200%;" type="text" required class="form-control" id="name">

            </div>
            <div class="form-group">

                <label for="description">Description</label>
                <textarea style="width: 200%;" class="form-control" id="description" rows="4" required></textarea>
                
            </div>
            <!-- <div class="form-group">
                <label for="complete">Completion</label>
                <input style="width: 200%;" type='date' id="complete" required>
                
            </div> -->
            <div class="form-group">

                    <label for="name">Submitted by:</label>
                    <input style="width: 200%;" type="text" required class="form-control" id="name">
    
                </div>
            <button (click) = 'quoteDelete(true)' class='btn btn-warning'> Delete Quote </button>
            <button (click) = 'addNewQuote(true)' class='btn btn-warning'> Add Quote </button>

        </form>
    </div>
</div>

