<div class="container" id="style">
  <div [hidden]="submitted">
<!-- form -->
<form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author"
    required
    [(ngModel)]="formQuote.author" name="author"
    #author="ngModel">
    <div [hidden]="author.valid || author.pristine"
    class="alert alert-danger">Author name required!
    </div>
  </div>

  <div class="form-group">
    <label for="quote">Write your quotes.</label>
    <textarea row="3" cols="80" type="text" class="form-control"
    id="quote" required [(ngModel)]="formQuote.quote"
    name="quote" #quote="ngModel"></textarea>
  <div [hidden]="quote.valid || quote.pristine"
  class="alert alert-danger">Quote is required!
  </div>
</div>

<div class="form-group">
  <label for="submiter">Enter your name</label>
  <input 
  type="text" class="form-control" id="submiter"
  required
  [(ngModel)]="formQuote.submiter" name="submiter"
  #submiter="ngModel">
  <div [hidden]="submiter.valid ||submiter.pristine"
  class="alert alert-danger">Your full name is required!
  </div>
</div>

<div class="form-group">
    <label for="timeDate">Enter the Date</label>
    <input type="Date" class="form-control" id="timeDate"
    required
    [(ngModel)]="formQuote.timeDate" name="timeDate"
    #timeDate="ngModel">
</div>  
<button type="submit" class="but btn-success">Submit</button>
</form>
</div>
</div>
<!-- Outout -->
<div class="jumbotron" style="width: 100%;">
  <div [hidden]="submitted">
   <ul *ngFor='let quote of quotes; let i = index'>
     <li>
       <p><strong>Author: </strong>{{quote.author}}</p>
       <p><strong>Quote: </strong>{{quote.quote}}</p>
       <p><strong>Submiter: </strong>{{quote.submiter}}</p>
       <p><strong>time: </strong>{{quote.timeDate|date}}</p>

       <div>
       <button type="button" name="button" (click)="deleteQuote(true, i)" class="btn btn-danger">Delete</button>
       </div>

       <app-likes></app-likes>
     </li>
   </ul>
 </div>
</div>
