<!-- <p> -->
  <!-- input-details works!
</p>

<div class="container-fluid">
    <form (ngSubmit)='submitQuote()' #quotesForm='ngForm'>
      <div>
        <label>Author</label>
        <input class="form-control" [(ngModel)]="newQuote.author" [ngModelOptions]="{standalone: true}" placeholder="Author">
      </div>
      
  
      <div>
        <label>Quote</label>
        <textarea class="form-control" [(ngModel)]="quoted.words" [ngModelOptions]="{standalone: true}" placeholder="The Quote..."></textarea>
      </div>
  
        <div>
          <label>Submitted by</label>
          <input class="form-control" [(ngModel)]="quoted.submitter" [ngModelOptions]="{standalone: true}"  placeholder="Your Name">
        </div>
  
        <div>
          <button class="btn btn-success">Submit Quote</button>
        </div>
    </form>
    <hr>
    <h3><strong>THE QUOTES</strong></h3>
    <ul>
      <div>
  
      </div>
    </ul>
  
  </div> -->
